h1{
    color: black;
    font-size: 25;
    font-family: Georgia, serif;
}

#sleep.jpg{
    position:absolute;top:10px; right:10px
}
body{
    background-color: lightgrey;
}

h5, h3{
    color: black;
    font-size: 18;
    font-family: Georgia, serif;
}

p{
    text-indent: 20px;
}

hr{
    color:blue;
    height: 10px;
    width: 50%;
    
.container {
  position: relative; /* This is important for absolute positioning to work */
}


.right-column {
  /* Define styles for the right column */
  padding: 20px; /* Add padding for spacing */
}


.top-right-img {
  position: absolute;
  top: 0;
  right: 0;
}
